@import 'tailwindcss';
:root{
    --primary:#0B1479;
    --primary-foreground:#FFFFFF;
    --top-menu:calc(calc(var(--spacing) * 24) + 2px);
}
@theme inline {
    --color-primary:var(--primary);
    --color-primary-foreground:var(--primary-foreground);
    --height-header:150px;
    --height-nav:40px;
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


body{
    background-color: var(--color-neutral-100);
}
