@import 'tailwindcss';

:root {
    --primary: #0B1479;
    --primary-foreground: #FFFFFF;
    --top-menu: calc(calc(var(--spacing) * 24) + 2px);
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --height-header: 150px;
    --height-nav: 40px;
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
    background-color: var(--color-neutral-100);
}



.vs__dropdown-toggle {
    @apply border border-neutral-300 rounded-md px-3 py-2 shadow bg-white;
}
.v-select{
    @apply bg-white text-sm;
}
.vs__selected {
    @apply text-neutral-700;
}

.vs__search {
    @apply text-sm;
}

.vs__dropdown-menu {
    @apply border border-neutral-200 shadow-md bg-white rounded-md;
}

.vs__open-indicator {
    @apply text-neutral-500;
}